.testimonial {
  padding: 8rem 4rem 8rem 4rem;

  @media only screen and (max-width: $bp-big) {
    padding: 6rem 4rem 6rem 4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem;
  }
}

.testimonial .container {
  max-width: 150rem;

  .wrapper {
    background-color: $--color-background;

    padding: 7rem 0;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 5rem 0;
    }

    .testimonial-box {
      // width: 30%;
      width: 45rem;
      position: relative;

      &__imgs {
        line-height: 0;
        display: flex;
        position: absolute;
        bottom: 0;
        right: 8rem;

        @media only screen and (max-width: $bp-largest) {
          right: 5rem;
        }

        :nth-child(1) {
          z-index: 3;
        }

        :nth-child(2) {
          z-index: 2;
        }
      }

      div {
        margin-right: -3rem;

        @media only screen and (max-width: $bp-large) {
          margin-right: -4rem;
        }

        @media only screen and (max-width: $bp-small) {
          margin-right: -5rem;
        }
      }

      &__img {
        width: 90%;

        @media only screen and (max-width: $bp-small) {
          width: 80%;
        }
      }
    }

    .testimonial-slider {
      display: flex;
      justify-content: center;
      margin-bottom: 7rem;
      width: 110%;

      @media only screen and (max-width: $bp-largest) {
        width: 120%;
      }

      @media only screen and (max-width: $bp-large) {
        width: 120%;
      }

      @media only screen and (max-width: $bp-biggest) {
        width: 105%;
        margin-bottom: 5rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }

      .testimonial-slide {
        padding: 5rem 3rem 4.8rem 5rem;
        background-color: #fff;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
        border-radius: 4rem;
        border-bottom-left-radius: 2rem;
        margin-bottom: 3rem;

        @media only screen and (max-width: $bp-large) {
          padding: 4rem 2.5rem 3.5rem 3.5rem;
        }

        &:not(:last-child) {
          margin-right: 5rem;

          @media only screen and (max-width: $bp-medium) {
            margin-right: 0;
          }
        }

        &__quote {
          font-size: 2.4rem;
          font-weight: 700;
          color: $--color-secondary;
          margin-bottom: 3rem;
        }

        &__text {
          font-size: 2rem;
          margin-bottom: 3rem;
        }

        &__author {
          display: flex;
          align-items: center;
          gap: 2.5rem;

          &-img {
            width: 90%;

            @media only screen and (max-width: $bp-small) {
              width: 80%;
            }
          }

          &-box {
          }

          &-name {
            font-size: 1.9rem;
            font-weight: 700;
            color: $--color-secondary;
            margin-bottom: 0.5rem;
          }

          &-role {
            font-size: 1.5rem;
          }
        }
      }
    }

    .testimonial-icons {
      display: flex;
      align-items: center;
      gap: 2rem;

      .left-arrow,
      .right-arrow {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        border: none;

        &__icon,
        &__icon {
          width: 2rem;
          height: 2rem;
        }
      }

      .left-arrow {
        background-color: #fff;
        fill: $--color-secondary;
      }

      .right-arrow {
        background-color: $--color-secondary;
        fill: #fff;
        float: left;
      }
    }
  }
}
